# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production

# misc
.DS_Store
npm-debug.log*
src/assets/heart2.png
src/assets/heart3.png
src/assets/talk2.png
src/assets/talk3.png
.vscode/
package-lock.json
